In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome('chromedriver.exe')

In [3]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=HYD&destinationCountry=IN&flight_depart_date=27%2F04%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=135961959342"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [10]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

131
131
131
131
131
131
131

In [11]:
df= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})
df

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-Apr-2022,New Delhi,Hyderabad,01:50,04:00,0,"7,319"
1,Go First,27-Apr-2022,New Delhi,Hyderabad,08:35,10:45,0,"7,319"
2,IndiGo,27-Apr-2022,New Delhi,Hyderabad,09:55,12:05,0,"7,319"
3,IndiGo,27-Apr-2022,New Delhi,Hyderabad,19:30,21:40,0,"7,319"
4,IndiGo,27-Apr-2022,New Delhi,Hyderabad,21:15,23:25,0,"7,319"
...,...,...,...,...,...,...,...,...
126,Vistara,27-Apr-2022,New Delhi,Hyderabad,19:50,08:55,1,"18,030"
127,Vistara,27-Apr-2022,New Delhi,Hyderabad,14:15,08:55,1,"18,030"
128,Air Asia,27-Apr-2022,New Delhi,Hyderabad,04:55,15:40,2,"20,418"
129,Air India,27-Apr-2022,New Delhi,Hyderabad,20:15,21:15,1,"22,650"
130,Air India,27-Apr-2022,New Delhi,Hyderabad,16:45,21:15,1,"22,650"

In [14]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=27%2F04%2F2022&hb=0&noOfSegments=1&origin=HYD&originCountry=IN&type=O&unique=1263092257024&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [15]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text)
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

127
127
127
127
127
127
127

In [16]:
df1= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df1

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-Apr-2022,Hyderabad,New Delhi,05:10,07:15,0,"7,732"
1,IndiGo,27-Apr-2022,Hyderabad,New Delhi,21:20,23:30,0,"7,732"
2,IndiGo,27-Apr-2022,Hyderabad,New Delhi,22:35,00:45\n+ 1 day,0,"7,732"
3,IndiGo,27-Apr-2022,Hyderabad,New Delhi,09:55,12:10,0,"7,732"
4,IndiGo,27-Apr-2022,Hyderabad,New Delhi,11:40,13:55,0,"7,732"
...,...,...,...,...,...,...,...,...
122,Vistara,27-Apr-2022,Hyderabad,New Delhi,21:35,11:00\n+ 1 day,1,"15,398"
123,Vistara,27-Apr-2022,Hyderabad,New Delhi,07:10,21:55,1,"15,398"
124,Air India,27-Apr-2022,Hyderabad,New Delhi,05:55,22:15,1,"15,398"
125,Vistara,27-Apr-2022,Hyderabad,New Delhi,18:25,09:40\n+ 1 day,1,"15,503"
126,SpiceJet,27-Apr-2022,Hyderabad,New Delhi,06:00,21:00,1,"18,653"

In [17]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=GOI&destinationCountry=IN&flight_depart_date=27%2F05%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1298533165985"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [18]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

150
150
150
150
150
150
150

In [19]:
df2= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df2

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,SpiceJet,27-Apr-2022,New Delhi,Goa,11:55,14:25,0,"5,323"
1,SpiceJet,27-Apr-2022,New Delhi,Goa,15:10,17:40,0,"5,323"
2,SpiceJet,27-Apr-2022,New Delhi,Goa,19:55,22:30,0,"5,323"
3,Go First,27-Apr-2022,New Delhi,Goa,20:30,23:10,0,"5,323"
4,IndiGo,27-Apr-2022,New Delhi,Goa,11:00,13:25,0,"5,324"
...,...,...,...,...,...,...,...,...
145,Go First,27-Apr-2022,New Delhi,Goa,14:00,23:35,1,"16,107"
146,Vistara,27-Apr-2022,New Delhi,Goa,07:05,14:05,2,"17,014"
147,Vistara,27-Apr-2022,New Delhi,Goa,07:05,14:05,2,"17,014"
148,Air Asia,27-Apr-2022,New Delhi,Goa,06:05,14:45,2,"19,629"
149,Air India,27-Apr-2022,New Delhi,Goa,16:50,06:20,2,"21,285"

In [20]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=27%2F05%2F2022&hb=0&noOfSegments=1&origin=GOI&originCountry=IN&type=O&unique=137252756199&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [21]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

142
142
142
142
142
142
142

In [23]:
df3= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df3

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,Go First,27-Apr-2022,Goa,New Delhi,23:40,02:00,0,"5,525"
1,SpiceJet,27-Apr-2022,Goa,New Delhi,23:00,01:25,0,"5,525"
2,SpiceJet,27-Apr-2022,Goa,New Delhi,15:05,17:45,0,"5,525"
3,Go First,27-Apr-2022,Goa,New Delhi,17:25,20:10,0,"5,525"
4,SpiceJet,27-Apr-2022,Goa,New Delhi,18:10,21:00,0,"5,525"
...,...,...,...,...,...,...,...,...
137,Vistara,27-Apr-2022,Goa,New Delhi,13:20,21:35,2,"15,187"
138,Go First,27-Apr-2022,Goa,New Delhi,00:05,08:00,1,"15,783"
139,Air India,27-Apr-2022,Goa,New Delhi,06:50,19:50,2,"16,237"
140,SpiceJet,27-Apr-2022,Goa,New Delhi,13:40,08:50,1,"16,656"
141,Air India,27-Apr-2022,Goa,New Delhi,15:15,23:20,2,"17,865"

In [25]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=PNQ&destinationCountry=IN&flexi=0&flight_depart_date=27%2F04%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1148153015767&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [26]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

66
66
66
66
66
66
66

In [27]:
df3= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df3

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,Air Asia,27-Apr-2022,New Delhi,Pune,15:30,17:25,0,"7,319"
1,IndiGo,27-Apr-2022,New Delhi,Pune,04:55,06:55,0,"7,319"
2,SpiceJet,27-Apr-2022,New Delhi,Pune,09:20,11:20,0,"7,319"
3,IndiGo,27-Apr-2022,New Delhi,Pune,23:20,01:20,0,"7,319"
4,IndiGo,27-Apr-2022,New Delhi,Pune,08:30,10:35,0,"7,319"
...,...,...,...,...,...,...,...,...
61,SpiceJet,27-Apr-2022,New Delhi,Pune,15:10,14:40,1,"16,583"
62,Air India,27-Apr-2022,New Delhi,Pune,21:15,12:10,2,"19,677"
63,Air India,27-Apr-2022,New Delhi,Pune,20:00,12:10,2,"19,677"
64,Air India,27-Apr-2022,New Delhi,Pune,19:00,12:10,2,"19,677"
65,Air India,27-Apr-2022,New Delhi,Pune,17:50,12:10,3,"19,677"

In [30]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=27%2F04%2F2022&hb=0&noOfSegments=1&origin=PNQ&originCountry=IN&type=O&unique=557081547683&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [31]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

63
63
63
63
63
63
63

In [32]:
df4= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df4

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-Apr-2022,Pune,New Delhi,02:00,04:10,0,"7,623"
1,Go First,27-Apr-2022,Pune,New Delhi,12:15,14:25,0,"7,623"
2,SpiceJet,27-Apr-2022,Pune,New Delhi,17:35,19:45,0,"7,623"
3,Go First,27-Apr-2022,Pune,New Delhi,19:35,21:45,0,"7,623"
4,IndiGo,27-Apr-2022,Pune,New Delhi,20:50,23:00,0,"7,623"
...,...,...,...,...,...,...,...,...
58,Air Asia,27-Apr-2022,Pune,New Delhi,19:15,08:55,1,"16,665"
59,IndiGo,27-Apr-2022,Pune,New Delhi,03:30,12:20,1,"16,968"
60,SpiceJet,27-Apr-2022,Pune,New Delhi,12:05,17:45,1,"17,304"
61,SpiceJet,27-Apr-2022,Pune,New Delhi,12:05,01:25,1,"17,304"
62,SpiceJet,27-Apr-2022,Pune,New Delhi,12:05,21:00,1,"23,058"

In [34]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=27%2F04%2F2022&hb=0&noOfSegments=1&origin=PNQ&originCountry=IN&type=O&unique=145470266798&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [35]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

100
100
100
100
100
100
100

In [36]:
df5= pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df5

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,Go First,27-Apr-2022,Pune,Bangalore,22:50,00:10,0,"6,573"
1,Go First,27-Apr-2022,Pune,Bangalore,20:05,21:35,0,"6,573"
2,IndiGo,27-Apr-2022,Pune,Bangalore,22:25,23:55,0,"6,573"
3,IndiGo,27-Apr-2022,Pune,Bangalore,01:00,02:35,0,"6,573"
4,SpiceJet,27-Apr-2022,Pune,Bangalore,15:15,16:50,0,"6,573"
...,...,...,...,...,...,...,...,...
95,Vistara,27-Apr-2022,Pune,Bangalore,05:55,16:20,2,"23,690"
96,Vistara,27-Apr-2022,Pune,Bangalore,11:15,20:55,2,"24,213"
97,Air India,27-Apr-2022,Pune,Bangalore,07:30,17:55,2,"24,528"
98,Air India,27-Apr-2022,Pune,Bangalore,18:50,16:15,1,"27,573"
99,Air India,27-Apr-2022,Pune,Bangalore,07:30,00:20,2,"28,413"

In [38]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=PNQ&destinationCountry=IN&flexi=0&flight_depart_date=27%2F04%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1511701937166&version=1.1&viewName=normal"
driver.get(url)
time.sleep(35)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [39]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

104
104
104
104
104
104
104

In [40]:
df6 = pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-Apr-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df6

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-Apr-2022,Bangalore,Pune,11:05,12:15,0,"6,529"
1,IndiGo,27-Apr-2022,Bangalore,Pune,13:50,15:05,0,"6,529"
2,Go First,27-Apr-2022,Bangalore,Pune,05:25,06:45,0,"6,529"
3,IndiGo,27-Apr-2022,Bangalore,Pune,23:05,00:25,0,"6,529"
4,IndiGo,27-Apr-2022,Bangalore,Pune,02:30,03:55,0,"6,529"
...,...,...,...,...,...,...,...,...
99,Vistara,27-Apr-2022,Bangalore,Pune,09:30,19:45,2,"23,697"
100,Vistara,27-Apr-2022,Bangalore,Pune,09:30,19:45,3,"23,769"
101,Air India,27-Apr-2022,Bangalore,Pune,06:45,18:10,2,"24,379"
102,Vistara,27-Apr-2022,Bangalore,Pune,11:30,19:45,2,"25,377"
103,Air India,27-Apr-2022,Bangalore,Pune,19:10,12:10,2,"26,866"

In [43]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=27%2F05%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=221510510564&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [44]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

135
135
135
135
135
135
135

In [45]:
df7 = pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-May-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df7

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-May-2022,New Delhi,Hyderabad,01:50,04:00,0,"4,799"
1,IndiGo,27-May-2022,New Delhi,Hyderabad,06:40,09:00,0,"4,799"
2,IndiGo,27-May-2022,New Delhi,Hyderabad,07:55,10:15,0,"4,799"
3,SpiceJet,27-May-2022,New Delhi,Hyderabad,21:55,00:15,0,"4,799"
4,Air India,27-May-2022,New Delhi,Hyderabad,09:45,11:50,0,"4,800"
...,...,...,...,...,...,...,...,...
130,Go First,27-May-2022,New Delhi,Hyderabad,10:40,23:30,1,"13,830"
131,Air India,27-May-2022,New Delhi,Hyderabad,16:50,19:10,0,"14,355"
132,Go First,27-May-2022,New Delhi,Hyderabad,14:00,19:45,1,"16,107"
133,SpiceJet,27-May-2022,New Delhi,Hyderabad,11:55,21:00,1,"18,396"
134,Air India,27-May-2022,New Delhi,Hyderabad,18:40,16:05,1,"18,450"

In [47]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=27%2F05%2F2022&hb=0&noOfSegments=1&origin=HYD&originCountry=IN&type=O&unique=303072122405&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [48]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

136
136
136
136
136
136
136

In [49]:
df8 = pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-May-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df8

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-May-2022,Hyderabad,New Delhi,16:20,18:35,0,"5,212"
1,IndiGo,27-May-2022,Hyderabad,New Delhi,17:45,20:00,0,"5,212"
2,IndiGo,27-May-2022,Hyderabad,New Delhi,20:05,22:20,0,"5,212"
3,Go First,27-May-2022,Hyderabad,New Delhi,06:00,08:20,0,"5,212"
4,Go First,27-May-2022,Hyderabad,New Delhi,17:30,19:50,0,"5,212"
...,...,...,...,...,...,...,...,...
131,Vistara,27-May-2022,Hyderabad,New Delhi,18:25,10:40,1,"10,778"
132,Vistara,27-May-2022,Hyderabad,New Delhi,18:25,23:50,1,"11,303"
133,Air India,27-May-2022,Hyderabad,New Delhi,05:55,22:15,1,"11,408"
134,Air Asia,27-May-2022,Hyderabad,New Delhi,20:20,03:45,2,"12,739"
135,SpiceJet,27-May-2022,Hyderabad,New Delhi,16:40,16:20,1,"19,289"

In [51]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=27%2F05%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1294808427483&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [52]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

150
150
150
150
150
150
150

In [53]:
df9 = pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-May-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df9

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,SpiceJet,27-May-2022,New Delhi,Goa,11:55,14:25,0,"5,323"
1,SpiceJet,27-May-2022,New Delhi,Goa,15:10,17:40,0,"5,323"
2,SpiceJet,27-May-2022,New Delhi,Goa,19:55,22:30,0,"5,323"
3,Go First,27-May-2022,New Delhi,Goa,20:30,23:10,0,"5,323"
4,IndiGo,27-May-2022,New Delhi,Goa,11:00,13:25,0,"5,324"
...,...,...,...,...,...,...,...,...
145,Go First,27-May-2022,New Delhi,Goa,14:00,23:35,1,"16,107"
146,Vistara,27-May-2022,New Delhi,Goa,07:05,14:05,2,"17,014"
147,Vistara,27-May-2022,New Delhi,Goa,07:05,14:05,2,"17,014"
148,Air Asia,27-May-2022,New Delhi,Goa,06:05,14:45,2,"19,629"
149,Air India,27-May-2022,New Delhi,Goa,16:50,06:20,2,"21,285"

In [56]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=27%2F05%2F2022&hb=0&noOfSegments=1&origin=GOI&originCountry=IN&type=O&unique=393145142982&version=1.1&viewName=normal"
driver.get(url)
time.sleep(5)
for i in range(1000):
    driver.execute_script("window.scrollBy(0,10000)")

In [57]:
Airline=[]
source=[]
destination=[]
Arival=[]
Departure=[]
no_of_stops=[]
prices=[]

name=driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in name:
    Airline.append(i.text)

try:
    so=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in so:
        source.append(i.text)
except NoSuchElementException:
    source.append(None)

try:
    des=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
    for i in des:
        destination.append(i.text)
except NoSuchElementException:
    destination.append(None)
    
try:
    ari=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in ari:
        Arival.append(i.text)
except NoSuchElementException:
    Arival.append(None)

try:
    dep=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')
    for i in dep:
        Departure.append(i.text.split('\n')[0])
except NoSuchElementException:
    Departure.append(None)
        
st=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in st:
    if i.text[0]!='N':
        no_of_stops.append(int(i.text[0]))
    else:
        no_of_stops.append(int('0'))

price=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price:
    prices.append(i.text.replace('₹',''))

print(len(Airline))
print(len(source))
print(len(destination))
print(len(Arival))
print(len(Departure))
print(len(no_of_stops))
print(len(prices))

142
142
142
142
142
142
142

In [58]:
df10 = pd.DataFrame({"Airlines_Name":Airline,
                 "Date Of Journey":"27-May-2022",
                 "Source":source,
                 "Destination":destination,
                 "Arival":Arival,
                 "Departure":Departure,
                 "No. Of Stoppage":no_of_stops,
                 "Price":prices})

df10

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,Go First,27-May-2022,Goa,New Delhi,23:40,02:00,0,"5,525"
1,SpiceJet,27-May-2022,Goa,New Delhi,23:00,01:25,0,"5,525"
2,SpiceJet,27-May-2022,Goa,New Delhi,15:05,17:45,0,"5,525"
3,Go First,27-May-2022,Goa,New Delhi,17:25,20:10,0,"5,525"
4,SpiceJet,27-May-2022,Goa,New Delhi,18:10,21:00,0,"5,525"
...,...,...,...,...,...,...,...,...
137,Vistara,27-May-2022,Goa,New Delhi,13:20,21:35,2,"15,187"
138,Go First,27-May-2022,Goa,New Delhi,00:05,08:00,1,"15,783"
139,Air India,27-May-2022,Goa,New Delhi,06:50,19:50,2,"16,237"
140,SpiceJet,27-May-2022,Goa,New Delhi,13:40,08:50,1,"16,656"
141,Air India,27-May-2022,Goa,New Delhi,15:15,23:20,2,"17,865"

In [59]:
tdf = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],axis = 0, ignore_index=True)
tdf

,Airlines_Name,Date Of Journey,Source,Destination,Arival,Departure,No. Of Stoppage,Price
0,IndiGo,27-Apr-2022,New Delhi,Hyderabad,01:50,04:00,0,"7,319"
1,Go First,27-Apr-2022,New Delhi,Hyderabad,08:35,10:45,0,"7,319"
2,IndiGo,27-Apr-2022,New Delhi,Hyderabad,09:55,12:05,0,"7,319"
3,IndiGo,27-Apr-2022,New Delhi,Hyderabad,19:30,21:40,0,"7,319"
4,IndiGo,27-Apr-2022,New Delhi,Hyderabad,21:15,23:25,0,"7,319"
...,...,...,...,...,...,...,...,...
1291,Vistara,27-May-2022,Goa,New Delhi,13:20,21:35,2,"15,187"
1292,Go First,27-May-2022,Goa,New Delhi,00:05,08:00,1,"15,783"
1293,Air India,27-May-2022,Goa,New Delhi,06:50,19:50,2,"16,237"
1294,SpiceJet,27-May-2022,Goa,New Delhi,13:40,08:50,1,"16,656"
1295,Air India,27-May-2022,Goa,New Delhi,15:15,23:20,2,"17,865"

In [64]:
tdf.to_csv("Flight_price2.csv")